body {
  background: $light-gray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.container-card {
  background: #ffffff;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  border-radius: 20px;
  width: 320px;
  height: 497px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.card-qr {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  color: #1f314f;
  margin: 30px 0px 40px 0px;
}

.h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #1f314f;
  margin: 10px 0px 5px 0px;

  &.without-image {
    margin: 10px 0px 30px 0px;
  }
}

ul > li {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 0.1875px;
  color: #1f314f;
  margin: 5px 0;
}

.p {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1875px;
  color: #7d889e;
  margin: 0 10px 5px 10px;

  &.without-image {
    margin: 10px 0px 30px 0px;
  }
}

@media screen and (min-width: map-get($breakpoint, mobile)) {
  .card-qr {
    width: 288px;
    height: 288px;
    border-radius: 10px;
  }
}
