.deck {
  position: relative;
  width: 250px;
  height: 180px; /* Augmentez la hauteur pour voir toutes les cartes */
  perspective: 1000px;
}

.card {
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  justify-content: center;
}

.card1 {
  transform: rotateY(0deg);
  cursor: pointer;
  position: relative;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0px;
  //   left: 2px;
  //   width: 42%;
  //   height: 100%;
  //   background: url('../../assets/Vector-1.svg');
  //   z-index: -2;
  // }
}

.card2 {
  transform: rotateY(5deg) translate(10px, 10px);
}

.card3 {
  transform: rotateY(10deg) translate(20px, 20px);
}

/* Ajout des animations au survol */
.card1:hover {
  transform: rotateY(0deg) translate(0, -10px);
  transition: transform 0.3s;
}

.bobby {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 60px;
  border-radius: 0;
  width: 31px;
  height: 51px;
}

.h2-deck {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}
